.nav{
    display: flex;
    flex-direction: row;
    margin: auto;
    
    
}
body{
    background-color: #666666;
    justify-content: center;
}
h1{
    background-color: #ffffff;
    border-color: #cccccc;
    
}

footer{
    background-color: #666666;
}

p{
    background-color: #ffffff;
    border-color: #dddddd;
    text-indent: 10%;
    text-align: left;
}

.img{
    padding: 0%;
    margin: auto;
    width: 200px;
    height: 400px
    
}

.content{

    
}
